<header class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <a routerLink=""><h1>AWS Cognito</h1></a>
  <div class="info login" *ngIf="isAuth(); else buttons">
    <h6 *ngIf="getUsername()">Logged in as: {{getUsername()}}</h6>
    <button mat-raised-button color="primary" (click)="logout()">Logout</button>
  </div>
  <ng-template #buttons>
    <div class="info">
      <button mat-raised-button color="primary" routerLink="signin">Sign in</button>
      <button mat-raised-button color="primary" routerLink="signup">Sing up</button>
    </div>
  </ng-template>
</header>
