<mat-card>
  <mat-card-title> Sign up</mat-card-title>
  <mat-card-content>
    <form [formGroup]="signupForm">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" type="text" formControlName="name">
      </mat-form-field>
      <div></div>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" type="text" formControlName="email">
      </mat-form-field>
      <div></div>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      <div></div>
      <button mat-raised-button color="primary" (click)="register()">Sign up</button>
    </form>
  </mat-card-content>
</mat-card>
